In [1]:
import aniensemblestats as aes
import pandas as pd
import os

#import seaborn as sns
pd.options.display.float_format = '{:.2f}'.format

In [2]:
errdir = '/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/'
#errdir = '/home/jujuman/Research/DataReductionMethods/train_test/error_compare/'
tex_store = "/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/tables/AllTests_results_mean.tex"
xls_store = "/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/tables/AllTests_results_mean.xlsx"
#tex_store = "/home/jujuman/Research/DataReductionMethods/train_test/tables/AllTests_results.tex"
efiles = [errdir+f for f in os.listdir(errdir)]
tsname = ['DrugBank',
          'Tripeptide',
          'GDB07to09',
          'MDBenchmark',
          'GDB10to13',
          's66x8',
         ]
for i in efiles:
    print(i)

/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/tsdata_AL6.h5
/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/tsdata_AL3.h5
/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/tsdata_AL5.h5
/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/tsdata_AL1.h5
/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/tsdata_AL2.h5
/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/tsdata_AL4.h5
/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/tsdata_ANI-1.h5

In [3]:
eed = aes.evaluate_ensemble_data(efiles)
eed.get_totalerrorperatom_table()

[-181845.07923834 -181801.77701013 -181879.13683328 ..., -285583.58146853
 -285561.02708175 -285561.90377342]
[18 18 18 ..., 17 17 17]
[-10102.50440213 -10100.09872279 -10104.39649074 ..., -16799.03420403
 -16797.7074754  -16797.7590455 ]
[-181840.97818463 -181791.04501491 -181874.0968137  ..., -285583.56569684
 -285560.37890521 -285560.57897481]
[18 18 18 ..., 17 17 17]
[-10102.27656581 -10099.50250083 -10104.11648965 ..., -16799.03327628
 -16797.66934737 -16797.68111617]
[-181844.81103639 -181799.81901186 -181879.38599737 ..., -285582.5461249
 -285560.25372472 -285559.8368423 ]
[18 18 18 ..., 17 17 17]
[-10102.48950202 -10099.9899451  -10104.41033319 ..., -16798.97330146
 -16797.66198381 -16797.63746131]
[-181848.48434601 -181811.01740665 -181871.79678846 ..., -285583.90094555
 -285561.13453346 -285562.12934403]
[18 18 18 ..., 17 17 17]
[-10102.69357478 -10100.61207815 -10103.98871047 ..., -16799.0529968
 -16797.71379609 -16797.77231435]
[-181846.02881529 -181798.48529744 -181879.52678965 ..., -285584.4394973
 -285561.97366182 -285562.06794318]
[18 18 18 ..., 17 17 17]
[-10102.5571564  -10099.91584986 -10104.41815498 ..., -16799.08467631
 -16797.76315658 -16797.76870254]
[-181843.58122044 -181802.03045027 -181879.46976396 ..., -285584.23241567
 -285562.05083342 -285561.93088461]
[18 18 18 ..., 17 17 17]
[-10102.42117891 -10100.11280279 -10104.41498689 ..., -16799.07249504
 -16797.76769608 -16797.76064027]
[-181847.13292244 -181800.03422292 -181878.87372647 ..., -285583.1636071
 -285560.94534892 -285561.3287075 ]
[18 18 18 ..., 17 17 17]
[-10102.61849569 -10100.00190127 -10104.38187369 ..., -16799.00962395
 -16797.70266758 -16797.72521809]

       E$_\mathrm{MAE}$$\mu$  E$_\mathrm{RMS}$$\mu$
AL1                     0.32                   0.55
AL2                     0.34                   0.62
AL3                     0.15                   0.25
AL4                     0.15                   0.23
AL5                     0.09                   0.14
AL6                     0.08                   0.13
ANI-1                   0.15                   0.29

In [4]:
eed.get_totalerrorperatom_table(['GDB07to09'])

[-181845.07923834 -181801.77701013 -181879.13683328 ..., -285583.58146853
 -285561.02708175 -285561.90377342]
[18 18 18 ..., 17 17 17]
[-10102.50440213 -10100.09872279 -10104.39649074 ..., -16799.03420403
 -16797.7074754  -16797.7590455 ]
[-181840.97818463 -181791.04501491 -181874.0968137  ..., -285583.56569684
 -285560.37890521 -285560.57897481]
[18 18 18 ..., 17 17 17]
[-10102.27656581 -10099.50250083 -10104.11648965 ..., -16799.03327628
 -16797.66934737 -16797.68111617]
[-181844.81103639 -181799.81901186 -181879.38599737 ..., -285582.5461249
 -285560.25372472 -285559.8368423 ]
[18 18 18 ..., 17 17 17]
[-10102.48950202 -10099.9899451  -10104.41033319 ..., -16798.97330146
 -16797.66198381 -16797.63746131]
[-181848.48434601 -181811.01740665 -181871.79678846 ..., -285583.90094555
 -285561.13453346 -285562.12934403]
[18 18 18 ..., 17 17 17]
[-10102.69357478 -10100.61207815 -10103.98871047 ..., -16799.0529968
 -16797.71379609 -16797.77231435]
[-181846.02881529 -181798.48529744 -181879.52678965 ..., -285584.4394973
 -285561.97366182 -285562.06794318]
[18 18 18 ..., 17 17 17]
[-10102.5571564  -10099.91584986 -10104.41815498 ..., -16799.08467631
 -16797.76315658 -16797.76870254]
[-181843.58122044 -181802.03045027 -181879.46976396 ..., -285584.23241567
 -285562.05083342 -285561.93088461]
[18 18 18 ..., 17 17 17]
[-10102.42117891 -10100.11280279 -10104.41498689 ..., -16799.07249504
 -16797.76769608 -16797.76064027]
[-181847.13292244 -181800.03422292 -181878.87372647 ..., -285583.1636071
 -285560.94534892 -285561.3287075 ]
[18 18 18 ..., 17 17 17]
[-10102.61849569 -10100.00190127 -10104.38187369 ..., -16799.00962395
 -16797.70266758 -16797.72521809]

       E$_\mathrm{MAE}$$\mu$  E$_\mathrm{RMS}$$\mu$
AL1                     0.19                   0.38
AL2                     0.18                   0.36
AL3                     0.09                   0.15
AL4                     0.08                   0.12
AL5                     0.07                   0.11
AL6                     0.06                   0.10
ANI-1                   0.08                   0.16

In [ ]:
eed.get_totalerror_table()

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(xls_store, engine='xlsxwriter')

# Build latex document
header = r'\documentclass{article}'+'\n'+r'\usepackage{booktabs}'+'\n'+r'\usepackage[margin=1.0in]{geometry}'+'\n'+r'\begin{document}'+'\n'

begtab = r'\begin{table}'+'\n'+r'\centering'+'\n'+r'\tiny'+'\n'
endtab = r'\end{table}'+'\n'
enddoc = r'\end{document}'
styles = []
with open(tex_store, "w") as text_file:
    text_file.write(header)
    print('Stats for: Complete benchmark')
    etab = eed.get_totalerror_table()
    styles.append(etab.style)
    text_file.write(begtab+r'\caption{Data set: Complete benchmark}'+'\n'+etab.to_latex(escape=False)+endtab)

    # Convert the dataframe to an XlsxWriter Excel object.
    etab.to_excel(writer, sheet_name="Complete Benchmark")

    for k in tsname:
        print('Stats for:',k)
        etab = eed.get_error_table(k)
        etab.to_excel(writer, sheet_name=k)
        styles.append(etab.style)
        text_file.write(begtab+r'\caption{Data set: '+k+r'}'+'\n'+etab.to_latex(escape=False)+endtab)
    text_file.write(enddoc)
styles[0]

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
#eed.determine_min_error_by_sigma('6.0.0',
#                                 1.5, 98.0,
#                                 labelx=r'$\mathrm{\rho}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}}$]',
#                                 labely=r'$\mathrm{\mathcal{E}}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}$]',
#                                 xymax=(6.0,20.0),
#                                 figsize=(10.0, 8.0),
#                                 storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/rho_selection_6.0.0.pdf',
#                                 )

In [ ]:
print(eed.get_net_keys())
#print(eed.get_size("9.0.5","MDBenchmark"))
#print(eed.get_size("9.0.4","Tripeptide"))
#print(eed.get_size("9.0.4","GDB07to09"))
#print(eed.get_size("9.0.4","GDB10to13"))

In [ ]:
#eed.generate_correlation_plot('6.0.0','MDBenchmark','Fani','Fdft')
#eed.generate_correlation_plot('9.0.5','MDBenchmark','Fani','Fdft')
eed.generate_correlation_plot('ANI-1','DrugBank','Fani','Fdft')
eed.generate_correlation_plot('AL6','DrugBank','Fani','Fdft')
#eed.generate_correlation_plot('ARC1','MDBenchmark','Fani','Fdft')
#eed.generate_correlation_plot('ARC8','MDBenchmark','Fani','Fdft')

In [ ]:
#eed.plot_bar_propsbynet([('Total Energy',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft',[0.0,23.0]),
#                         ('Relative Energy',r'RMSE ($kcal \times mol^{-1}$)','dEani', 'dEdft',[0.0,12.0]),
#                         ('Force',r'RMSE ($kcal \times mol^{-1} \times \AA^{-1}$)','Fani', 'Fdft',[0.0,10.0])], 
#                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 's66x8'],
#                         ntwks=['6.0.0','7.0.4','8.0.6','8.3.6','9.0.4','ANI-1'],
#                         fontsize=30, bbox_to_anchor=(0.3, 1.0), figsize=(40.0, 32.0), ncol=2, errortype='RMSE')

In [ ]:
eed.plot_error_by_net([(r'$E_T (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['AL1', 'AL2', 'AL3', 'AL4', 'AL5', 'AL6', 'ANI-1'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='RMSE',
                        storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_RMSE.pdf')

In [ ]:
eed.plot_error_by_net([(r'$E_T (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['AL1', 'AL2', 'AL3', 'AL4', 'AL5', 'AL6', 'ANI-1'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='MAE',
                        storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_MAE.pdf')
#eed.generate_violin_distribution('GDB10to13')

In [ ]:
'''
eed.plot_error_by_net([(r'$E_T (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['ARC1','ARC2','ARC3','ARC4','ARC5','ARC6','ARC7','ARC8'],
                        fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(20.0, 30.0), ncol=1, errortype='RMSE',
                        storepath='/home/jujuman/Research/DataReductionMethods/train_test/tables/figure_TSALvsANI_RMSE.pdf')
'''