In [1]:
import aniensemblestats as aes
import pandas as pd
import os

import matplotlib as mpl
import matplotlib.pyplot as plt

#import seaborn as sns
pd.options.display.float_format = '{:.2f}'.format

van Der Waals correction will be unavailable. Please install ased3

/usr/local/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
errdir = '/home/jsmith48/scratch/error_stats/test_post_bug/'
#errdir = '/home/jujuman/Research/DataReductionMethods/train_test/error_compare/'
tex_store = "/home/jsmith48/scratch/error_stats/AllTests_results_mean.tex"
xls_store = "/home/jsmith48/scratch/error_stats/AllTests_results_mean.xlsx"
tex_store = "/home/jsmith48/scratch/error_stats/AllTests_results.tex"

#errdir = '/home/jujuman/Research/DataReductionMethods/model6r/error_compare/emax_compare/'
#tex_store = "/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/tables/Emax_results_mean.tex"
#xls_store = "/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/tables/Emax_results_mean.xlsx"

#errdir = '/home/jujuman/Research/DataReductionMethods/al_working_network/error_compare/'

#errdir = '/home/jujuman/Research/DataReductionMethods/train_test/error_compare/'
#tex_store = "/home/jujuman/Research/DataReductionMethods/al_working_network/tables/AllTests_results_mean.tex"
#xls_store = "/home/jujuman/Research/DataReductionMethods/al_working_network/tables/AllTests_results_mean.xlsx"

efiles = [errdir+f for f in os.listdir(errdir)]
tsname = ['DrugBank',
          'Tripeptide',
          #'GDB07to09',
          'MDBenchmark',
          #'GDB10to13',
          #'s66x8',
         ]

'''
efiles = [errdir+f for f in os.listdir(errdir)]
tsname = ['DrugBk (SFCl)',
          'DrugBk (CHNO)',
          'GDB-07 (SFCl)',
          'GDB-08 (SFCl)',
          'GDB-09 (SFCl)',
          'GDB-10 (SFCl)',
          'GDB-11 (SFCl)',
          'GDB-07 (CHNO)',
          'GDB-08 (CHNO)',
          'GDB-09 (CHNO)',
          'GDB-10 (CHNO)',
          'GDB-11 (CHNO)',
         ]
'''

for i in efiles:
    print(i)

/home/jsmith48/scratch/error_stats/test_post_bug/tsdata_ANI-1x(TZ).h5
/home/jsmith48/scratch/error_stats/test_post_bug/tsdata_ANI-1x(CCSD(T).h5
/home/jsmith48/scratch/error_stats/test_post_bug/tsdata_ANI-1x(DZ).h5

In [3]:
eed = aes.evaluate_ensemble_data(efiles)
eed.get_totalerrorperatom_table(['MDBenchmark'])

                $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\mu$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{RMS}$$\mu$
ANI-1x(CCSD(T)                          44.13                          56.97               16859.24               16981.81
ANI-1x(DZ)                              43.76                          56.53                5075.63                5151.50
ANI-1x(TZ)                              36.20                          48.58                  38.03                  50.94

In [4]:
#eed.get_ntwrk_error_table('0707.0001.0400')

In [5]:
#eed.get_ntwrk_error_table('0707.0001.0402')

In [6]:
#eed.get_ntwrk_error_table('0707.0001.0408')

# ANI-1x trained to different datasets tested for extensibility

In [7]:
eed.get_totalerror_table() # All errors combined

                $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
ANI-1x(CCSD(T)                           3.20                              0.07                           4.53                              0.09                 811.29                      0.37                 879.75                      0.47                   3.64                      0.08                   5.90                      0.10
ANI-1x(DZ)                               2.42                              0.07                           3.37                              0.09                 253.77                      0.72                 276.99                      0.76                   3.60                      0.04                   5.53                      0.05
ANI-1x(TZ)                               1.90                              0.03                           2.63                              0.05                   2.34                      0.10                   3.73                      0.28                   2.78                      0.05                   4.25                      0.09

In [8]:
eed.get_error_table(tskey='MDBenchmark')

                $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
ANI-1x(CCSD(T)                           2.42                              0.11                           3.50                              0.36                 953.82                      0.84                1146.68                      1.29                   3.15                      0.13                   4.91                      0.30
ANI-1x(DZ)                               2.34                              0.09                           3.30                              0.14                 289.78                      0.59                 360.04                      1.08                   3.19                      0.09                   4.62                      0.10
ANI-1x(TZ)                               1.93                              0.04                           2.79                              0.08                   2.45                      0.50                   4.19                      1.28                   2.50                      0.08                   3.84                      0.10

In [9]:
eed.get_error_table(tskey='Tripeptide')

                $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
ANI-1x(CCSD(T)                           2.34                              0.10                           5.03                              0.16                 960.59                      0.71                 970.15                      0.73                   3.59                      0.11                   7.34                      0.21
ANI-1x(DZ)                               2.22                              0.13                           4.19                              0.29                 330.25                      0.66                 332.63                      0.67                   3.54                      0.13                   7.10                      0.43
ANI-1x(TZ)                               1.66                              0.09                           2.77                              0.14                   2.66                      0.35                   3.63                      0.33                   2.62                      0.08                   4.14                      0.30

In [10]:
eed.get_error_table(tskey='DrugBank')

                $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
ANI-1x(CCSD(T)                           3.31                              0.07                           4.55                              0.09                 784.76                      0.32                 855.86                      0.42                   3.66                      0.09                   5.65                      0.10
ANI-1x(DZ)                               2.44                              0.07                           3.30                              0.10                 241.32                      0.87                 264.69                      0.95                   3.62                      0.03                   5.24                      0.05
ANI-1x(TZ)                               1.91                              0.03                           2.61                              0.06                   2.28                      0.08                   3.73                      0.28                   2.82                      0.05                   4.28                      0.10

In [11]:
#eed.get_error_table(tskey='s66x8')

In [12]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(xls_store, engine='xlsxwriter')

# Build latex document
header = r'\documentclass{article}'+'\n'+r'\usepackage{booktabs}'+'\n'+r'\usepackage[margin=1.0in]{geometry}'+'\n'+r'\begin{document}'+'\n'

begtab = r'\begin{table}'+'\n'+r'\centering'+'\n'+r'\tiny'+'\n'
endtab = r'\end{table}'+'\n'
enddoc = r'\end{document}'
styles = []
with open(tex_store, "w") as text_file:
    text_file.write(header)
    print('Stats for: Complete benchmark')
    etab = eed.get_totalerror_table()
    styles.append(etab.style)
    text_file.write(begtab+r'\caption{Data set: Complete benchmark}'+'\n'+etab.to_latex(escape=False)+endtab)

    # Convert the dataframe to an XlsxWriter Excel object.
    etab.to_excel(writer, sheet_name="Complete Benchmark")

    paetab = eed.get_totalerrorperatom_table()
    text_file.write(begtab+r'\caption{Data set: Complete benchmark per atom}'+'\n'+paetab.to_latex(escape=False)+endtab)
    paetab.to_excel(writer, sheet_name="Complete Benchmark per atom")
    
    
    for k in tsname:
        print('Stats for:',k)
        etab = eed.get_error_table(k)
        etab.to_excel(writer, sheet_name=k)
        styles.append(etab.style)
        text_file.write(begtab+r'\caption{Data set: '+k+r'}'+'\n'+etab.to_latex(escape=False)+endtab)
    text_file.write(enddoc)
styles[0]

# Close the Pandas Excel writer and output the Excel file.
writer.save()

Stats for: Complete benchmark
Stats for: DrugBank
Stats for: Tripeptide
Stats for: MDBenchmark

In [13]:
cmap = mpl.cm.nipy_spectral
eed.determine_min_error_by_sigma('ANI-1x(celu)',
                                 1.5, 95.0,
                                 labelx=r'$\mathrm{\rho}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}}$]',
                                 labely=r'$\mathrm{\mathcal{E}}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}$]',
                                 xymax=(7.0,22.0),
                                 figsize=(12.0, 9.0),
                                 cmap=cmap,
                                 tskeys=['DrugBank'],
                                 #storepath='/home/jsmith48/scratch/error_stats/rho_selection_6.0.0.pdf',
                                 )

KeyError: 'ANI-1x(celu)'

In [ ]:
cmap = mpl.cm.nipy_spectral
eed.determine_min_error_by_sigma('ANI-1x(gaus)',
                                 1.5, 95.0,
                                 labelx=r'$\mathrm{\rho}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}}$]',
                                 labely=r'$\mathrm{\mathcal{E}}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}$]',
                                 xymax=(7.0,22.0),
                                 figsize=(12.0, 9.0),
                                 cmap=cmap,
                                 tskeys=['DrugBank'],
                                 #storepath='/home/jsmith48/scratch/error_stats/rho_selection_6.0.0.pdf',
                                 )

In [ ]:
print(eed.get_net_keys())
#print(eed.get_size("9.0.5","MDBenchmark"))
#print(eed.get_size("9.0.4","Tripeptide"))
#print(eed.get_size("9.0.4","GDB07to09"))
#print(eed.get_size("9.0.4","GDB10to13"))

In [ ]:
#eed.generate_correlation_plot('6.0.0','MDBenchmark','Fani','Fdft')
#cmap = mpl.cm.nipy_spectral
#eed.generate_correlation_plot('ANI-0707.0001.0410_bt5','GDB-11 (SFCl)','Fani','Fdft',cmap=cmap)
#eed.generate_correlation_plot('0707.0001.0402','GDB-07 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('0707.0001.0402','GDB-08 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('0707.0001.0402','GDB-09 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('0707.0001.0402','GDB-10 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('0707.0001.0402','GDB-11 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('AL6','DrugBank','Fani','Fdft')
#eed.generate_correlation_plot('ARC1','MDBenchmark','Fani','Fdft')
#eed.generate_correlation_plot('ARC8','MDBenchmark','Fani','Fdft')

In [ ]:
#eed.plot_bar_propsbynet([('Total Energy',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft',[0.0,23.0]),
#                         ('Relative Energy',r'RMSE ($kcal \times mol^{-1}$)','dEani', 'dEdft',[0.0,12.0]),
#                         ('Force',r'RMSE ($kcal \times mol^{-1} \times \AA^{-1}$)','Fani', 'Fdft',[0.0,10.0])], 
#                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 's66x8'],
#                         ntwks=['6.0.0','7.0.4','8.0.6','8.3.6','9.0.4','ANI-1'],
#                         fontsize=30, bbox_to_anchor=(0.3, 1.0), figsize=(40.0, 32.0), ncol=2, errortype='RMSE')

In [ ]:
eed.plot_error_by_net([(r'$E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB-07 (SFCl)', 'GDB-08 (SFCl)', 'GDB-09 (SFCl)', 'GDB-10 (SFCl)', 'GDB-11 (SFCl)'],
                         ntwks=['0808.0302.0402'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='RMSE',
                        #storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_RMSE.pdf',
                      )

In [ ]:
eed.plot_error_by_net([(r'$E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['AL1', 'AL2', 'AL3', 'AL4', 'AL5', 'AL6', 'ANI-1'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='RMSE',
                        #storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_RMSE.pdf')

In [ ]:
eed.plot_error_by_net([(r'$E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['AL1', 'AL2', 'AL3', 'AL4', 'AL5', 'AL6', 'ANI-1'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='MAE',
                        #storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_MAE.pdf')
#eed.generate_violin_distribution('GDB10to13')

In [ ]:
'''
eed.plot_error_by_net([(r'$E_T (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['ARC1','ARC2','ARC3','ARC4','ARC5','ARC6','ARC7','ARC8'],
                        fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(20.0, 30.0), ncol=1, errortype='RMSE',
                        storepath='/home/jujuman/Research/DataReductionMethods/train_test/tables/figure_TSALvsANI_RMSE.pdf')
'''

In [ ]:
Edft1 = eed.get_range_stats(tslist=['GDB-10 (SFCl)'],dkey='dEdft')

In [ ]:
plt.hist(Edft1,bins=100)
plt.show()

In [ ]:
Edft2 = eed.get_range_stats(tslist=['GDB-10 (CHNO)'],dkey='dEdft')

In [ ]:
plt.hist(Edft2,bins=100,color='r')
plt.show()