In [10]:
import aniensemblestats as aes
import pandas as pd
import os

#import seaborn as sns
pd.options.display.float_format = '{:.2f}'.format

In [11]:
#errdir = '/home/jujuman/Research/DataReductionMethods/model6r/error_compare/for_al_pub/'
#errdir = '/home/jujuman/Research/DataReductionMethods/train_test/error_compare/'
#tex_store = "/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/tables/AllTests_results_mean.tex"
#xls_store = "/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/tables/AllTests_results_mean.xlsx"
#tex_store = "/home/jujuman/Research/DataReductionMethods/train_test/tables/AllTests_results.tex"

errdir = '/home/jsmith48/scratch/train_test/network_arch_hps4/error_stats/'
tex_store = "/home/jsmith48/scratch/train_test/network_arch_hps4/tables/AllTests_results_mean.tex"
xls_store = "/home/jsmith48/scratch/train_test/network_arch_hps4/tables/AllTests_results_mean.xlsx"

#efiles = [errdir+f for f in os.listdir(errdir)]
#tsname = ['DrugBank',
#          'Tripeptide',
#          'GDB07to09',
#          'MDBenchmark',
#          'GDB10to13',
#          's66x8',
#         ]

efiles = [errdir+f for f in os.listdir(errdir)]
tsname = ['GDB-07',
          'GDB-08',
          'GDB-09',
          'GDB-10',
          'GDB-11',
         ]
for i in efiles:
    print(i)

/home/jsmith48/scratch/train_test/network_arch_hps4/error_stats/tsdata_0707.0001.0410_2058.h5
/home/jsmith48/scratch/train_test/network_arch_hps4/error_stats/tsdata_0707.0001.0410_0512.h5
/home/jsmith48/scratch/train_test/network_arch_hps4/error_stats/tsdata_0808.0000.0402.h5
/home/jsmith48/scratch/train_test/network_arch_hps4/error_stats/tsdata_0707.0001.0410_1024.h5
/home/jsmith48/scratch/train_test/network_arch_hps4/error_stats/tsdata_0707.0001.0410_1536.h5

In [12]:
eed = aes.evaluate_ensemble_data(efiles)
eed.get_totalerrorperatom_table()

                     E$_\mathrm{MAE}$$\mu$  E$_\mathrm{RMS}$$\mu$
0707.0001.0410_0512                   0.12                   0.21
0707.0001.0410_1024                   0.13                   0.22
0707.0001.0410_1536                   0.13                   0.22
0707.0001.0410_2058                   0.13                   0.23
0808.0000.0402                        0.10                   0.15

In [13]:
#eed.get_ntwrk_error_table('0707.0001.0400')

In [14]:
#eed.get_ntwrk_error_table('0707.0001.0402')

In [15]:
#eed.get_ntwrk_error_table('0707.0001.0408')

In [16]:
#eed.get_ntwrk_error_table('7.0.4')

In [17]:
eed.get_error_table('GDB-11 (CHNO)')

                     $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
0707.0001.0410_0512                           4.48                              0.22                           6.93                              0.80                   4.65                      0.33                   7.35                      0.35                   5.58                      0.11                  10.61                      1.31
0707.0001.0410_1024                           4.43                              0.21                           6.47                              0.53                   4.86                      0.18                   7.30                      0.77                   5.61                      0.16                  10.21                      1.04
0707.0001.0410_1536                           4.29                              0.25                           6.18                              0.70                   4.74                      0.43                   7.04                      1.29                   5.39                      0.18                   9.66                      1.00
0707.0001.0410_2058                           4.19                              0.20                           6.05                              0.57                   4.41                      0.39                   6.48                      0.69                   5.28                      0.15                   9.40                      0.50
0808.0000.0402                                3.67                              0.16                           5.15                              0.36                   3.20                      0.25                   4.54                      0.45                   4.86                      0.22                   8.14                      0.56

In [22]:
eed.get_error_table('GDB-07 (SFCl)')

                     $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
0707.0001.0410_0512                           0.97                              0.02                           1.51                              0.04                   1.12                      0.06                   1.54                      0.06                   2.57                      0.06                   4.04                      0.09
0707.0001.0410_1024                           0.96                              0.03                           1.57                              0.05                   1.19                      0.06                   1.66                      0.07                   2.56                      0.12                   3.98                      0.20
0707.0001.0410_1536                           0.98                              0.04                           1.55                              0.05                   1.20                      0.05                   1.65                      0.05                   2.52                      0.09                   3.96                      0.09
0707.0001.0410_2058                           0.96                              0.03                           1.51                              0.07                   1.24                      0.06                   1.66                      0.07                   2.53                      0.06                   3.98                      0.09
0808.0000.0402                                0.95                              0.02                           1.50                              0.08                   1.04                      0.05                   1.45                      0.06                   2.53                      0.06                   3.94                      0.09

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(xls_store, engine='xlsxwriter')

# Build latex document
header = r'\documentclass{article}'+'\n'+r'\usepackage{booktabs}'+'\n'+r'\usepackage[margin=1.0in]{geometry}'+'\n'+r'\begin{document}'+'\n'

begtab = r'\begin{table}'+'\n'+r'\centering'+'\n'+r'\tiny'+'\n'
endtab = r'\end{table}'+'\n'
enddoc = r'\end{document}'
styles = []
with open(tex_store, "w") as text_file:
    text_file.write(header)
    print('Stats for: Complete benchmark')
    etab = eed.get_totalerror_table()
    styles.append(etab.style)
    text_file.write(begtab+r'\caption{Data set: Complete benchmark}'+'\n'+etab.to_latex(escape=False)+endtab)

    # Convert the dataframe to an XlsxWriter Excel object.
    etab.to_excel(writer, sheet_name="Complete Benchmark")

    for k in tsname:
        print('Stats for:',k)
        etab = eed.get_error_table(k)
        etab.to_excel(writer, sheet_name=k)
        styles.append(etab.style)
        text_file.write(begtab+r'\caption{Data set: '+k+r'}'+'\n'+etab.to_latex(escape=False)+endtab)
    text_file.write(enddoc)
styles[0]

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
#eed.determine_min_error_by_sigma('6.0.0',
#                                 1.5, 98.0,
#                                 labelx=r'$\mathrm{\rho}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}}$]',
#                                 labely=r'$\mathrm{\mathcal{E}}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}$]',
#                                 xymax=(6.0,20.0),
#                                 figsize=(10.0, 8.0),
#                                 storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/rho_selection_6.0.0.pdf',
#                                 )

In [ ]:
print(eed.get_net_keys())
#print(eed.get_size("9.0.5","MDBenchmark"))
#print(eed.get_size("9.0.4","Tripeptide"))
#print(eed.get_size("9.0.4","GDB07to09"))
#print(eed.get_size("9.0.4","GDB10to13"))

In [ ]:
#eed.generate_correlation_plot('6.0.0','MDBenchmark','Fani','Fdft')
#eed.generate_correlation_plot('9.0.5','MDBenchmark','Fani','Fdft')
eed.generate_correlation_plot('0707.0001.0402','GDB-07 (SFCl)','dEani','dEdft')
eed.generate_correlation_plot('0707.0001.0402','GDB-08 (SFCl)','dEani','dEdft')
eed.generate_correlation_plot('0707.0001.0402','GDB-09 (SFCl)','dEani','dEdft')
eed.generate_correlation_plot('0707.0001.0402','GDB-10 (SFCl)','dEani','dEdft')
eed.generate_correlation_plot('0707.0001.0402','GDB-11 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('AL6','DrugBank','Fani','Fdft')
#eed.generate_correlation_plot('ARC1','MDBenchmark','Fani','Fdft')
#eed.generate_correlation_plot('ARC8','MDBenchmark','Fani','Fdft')

In [ ]:
#eed.plot_bar_propsbynet([('Total Energy',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft',[0.0,23.0]),
#                         ('Relative Energy',r'RMSE ($kcal \times mol^{-1}$)','dEani', 'dEdft',[0.0,12.0]),
#                         ('Force',r'RMSE ($kcal \times mol^{-1} \times \AA^{-1}$)','Fani', 'Fdft',[0.0,10.0])], 
#                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 's66x8'],
#                         ntwks=['6.0.0','7.0.4','8.0.6','8.3.6','9.0.4','ANI-1'],
#                         fontsize=30, bbox_to_anchor=(0.3, 1.0), figsize=(40.0, 32.0), ncol=2, errortype='RMSE')

In [ ]:
eed.plot_error_by_net([(r'$E_T (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['AL1', 'AL2', 'AL3', 'AL4', 'AL5', 'AL6', 'ANI-1'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='RMSE',
                        storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_RMSE.pdf')

In [ ]:
eed.plot_error_by_net([(r'$E_T (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['AL1', 'AL2', 'AL3', 'AL4', 'AL5', 'AL6', 'ANI-1'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='MAE',
                        storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_MAE.pdf')
#eed.generate_violin_distribution('GDB10to13')

In [ ]:
'''
eed.plot_error_by_net([(r'$E_T (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['ARC1','ARC2','ARC3','ARC4','ARC5','ARC6','ARC7','ARC8'],
                        fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(20.0, 30.0), ncol=1, errortype='RMSE',
                        storepath='/home/jujuman/Research/DataReductionMethods/train_test/tables/figure_TSALvsANI_RMSE.pdf')
'''