In [1]:
import aniensemblestats as aes
import pandas as pd
import os

import matplotlib as mpl
import matplotlib.pyplot as plt

#import seaborn as sns
pd.options.display.float_format = '{:.2f}'.format

van Der Waals correction will be unavailable. Please install ased3

/usr/local/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
errdir = '/home/jsmith48/scratch/transfer_learning/it1_models/stat_files/'
#errdir = '/home/jujuman/Research/DataReductionMethods/train_test/error_compare/'
tex_store = "/home/jsmith48/scratch/auto_rxn_al/error_stats/AllTests_results_mean.tex"
xls_store = "/home/jsmith48/scratch/auto_rxn_al/error_stats/AllTests_results_mean.xlsx"
tex_store = "/home/jsmith48/scratch/auto_rxn_al/error_stats/AllTests_results.tex"

#errdir = '/home/jujuman/Research/DataReductionMethods/model6r/error_compare/emax_compare/'
#tex_store = "/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/tables/Emax_results_mean.tex"
#xls_store = "/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/tables/Emax_results_mean.xlsx"

#errdir = '/home/jujuman/Research/DataReductionMethods/al_working_network/error_compare/'

#errdir = '/home/jujuman/Research/DataReductionMethods/train_test/error_compare/'
#tex_store = "/home/jujuman/Research/DataReductionMethods/al_working_network/tables/AllTests_results_mean.tex"
#xls_store = "/home/jujuman/Research/DataReductionMethods/al_working_network/tables/AllTests_results_mean.xlsx"

efiles = [errdir+f for f in os.listdir(errdir)]
tsname = ['r10_ccsd',
          'GDB-10to13',
          #'DrugBank',
          #'Tripeptide',
          #'GDB07to09',
          #'MDBenchmark',
          #'GDB10to13',
          #'s66x8',
         ]

'''
efiles = [errdir+f for f in os.listdir(errdir)]
tsname = ['DrugBk (SFCl)',
          'DrugBk (CHNO)',
          'GDB-07 (SFCl)',
          'GDB-08 (SFCl)',
          'GDB-09 (SFCl)',
          'GDB-10 (SFCl)',
          'GDB-11 (SFCl)',
          'GDB-07 (CHNO)',
          'GDB-08 (CHNO)',
          'GDB-09 (CHNO)',
          'GDB-10 (CHNO)',
          'GDB-11 (CHNO)',
         ]
'''

for i in efiles:
    print(i)

/home/jsmith48/scratch/transfer_learning/it1_models/stat_files/tsdata_ANI-1xTL_tl_2.h5
/home/jsmith48/scratch/transfer_learning/it1_models/stat_files/tsdata_ANI-1xTL_ml-2.h5
/home/jsmith48/scratch/transfer_learning/it1_models/stat_files/tsdata_ANI-1xTL_ml-3.h5
/home/jsmith48/scratch/transfer_learning/it1_models/stat_files/tsdata_ANI-1xTL_ml-1.h5

In [3]:
eed = aes.evaluate_ensemble_data(efiles)
eed.get_totalerrorperatom_table(['r10_ccsd'])
eed.get_totalerrorperatom_table(['GDB-10to13'])

               $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\mu$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{RMS}$$\mu$
ANI-1xTL_ml-1                          83.16                         126.28                  94.28                 127.71
ANI-1xTL_ml-2                         109.16                         164.43                 133.97                 176.86
ANI-1xTL_ml-3                          82.82                         126.20                  89.86                 123.39
ANI-1xTL_tl_2                          81.68                         124.72                  88.90                 121.70

In [4]:
#eed.get_ntwrk_error_table('0707.0001.0400')

In [5]:
#eed.get_ntwrk_error_table('0707.0001.0402')

In [6]:
#eed.get_ntwrk_error_table('0707.0001.0408')

# ANI-1x trained to different datasets tested for extensibility

In [7]:
eed.get_totalerror_table() # All errors combined

               $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
ANI-1xTL_ml-1                           1.60                              0.01                           2.45                              0.02                   1.80                      0.07                   2.48                      0.08                  19.85                      0.04                  29.86                      0.05
ANI-1xTL_ml-2                           2.12                              0.04                           3.19                              0.06                   2.66                      0.10                   3.51                      0.10                  20.05                      0.07                  29.97                      0.07
ANI-1xTL_ml-3                           1.59                              0.01                           2.43                              0.03                   1.69                      0.07                   2.36                      0.10                  19.85                      0.05                  29.89                      0.04
ANI-1xTL_tl_2                           1.57                              0.02                           2.40                              0.04                   1.67                      0.07                   2.34                      0.12                  19.87                      0.09                  29.94                      0.09

In [8]:
eed.get_error_table(tskey='r10_ccsd')

               $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
ANI-1xTL_ml-1                           0.67                              0.01                           0.89                              0.02                   1.38                      0.09                   2.14                      0.20                  12.79                      0.07                  17.26                      0.08
ANI-1xTL_ml-2                           0.92                              0.03                           1.20                              0.03                   2.25                      0.12                   3.16                      0.17                  13.09                      0.09                  17.65                      0.11
ANI-1xTL_ml-3                           0.66                              0.01                           0.88                              0.02                   1.25                      0.08                   1.94                      0.29                  12.78                      0.08                  17.27                      0.11
ANI-1xTL_tl_2                           0.65                              0.01                           0.87                              0.02                   1.24                      0.08                   1.94                      0.36                  12.80                      0.14                  17.30                      0.18

In [9]:
eed.get_error_table(tskey='GDB-10to13')

               $\Delta$E$_\mathrm{MAE}$$\mu$  $\Delta$E$_\mathrm{MAE}$$\sigma$  $\Delta$E$_\mathrm{RMS}$$\mu$  $\Delta$E$_\mathrm{RMS}$$\sigma$  E$_\mathrm{MAE}$$\mu$  E$_\mathrm{MAE}$$\sigma$  E$_\mathrm{RMS}$$\mu$  E$_\mathrm{RMS}$$\sigma$  F$_\mathrm{MAE}$$\mu$  F$_\mathrm{MAE}$$\sigma$  F$_\mathrm{RMS}$$\mu$  F$_\mathrm{RMS}$$\sigma$
ANI-1xTL_ml-1                           1.78                              0.01                           2.64                              0.02                   2.00                      0.07                   2.63                      0.07                  22.97                      0.04                  33.97                      0.06
ANI-1xTL_ml-2                           2.35                              0.05                           3.45                              0.06                   2.85                      0.10                   3.66                      0.10                  23.12                      0.06                  34.02                      0.07
ANI-1xTL_ml-3                           1.77                              0.01                           2.63                              0.03                   1.90                      0.06                   2.53                      0.06                  22.97                      0.05                  34.01                      0.04
ANI-1xTL_tl_2                           1.75                              0.03                           2.60                              0.04                   1.89                      0.07                   2.51                      0.06                  22.99                      0.08                  34.07                      0.09

In [10]:
eed.get_error_table(tskey='RXN_DAT.0003')

KeyError: 'RXN_DAT.0003'

In [ ]:
#eed.get_error_table(tskey='s66x8')

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(xls_store, engine='xlsxwriter')

# Build latex document
header = r'\documentclass{article}'+'\n'+r'\usepackage{booktabs}'+'\n'+r'\usepackage[margin=1.0in]{geometry}'+'\n'+r'\begin{document}'+'\n'

begtab = r'\begin{table}'+'\n'+r'\centering'+'\n'+r'\tiny'+'\n'
endtab = r'\end{table}'+'\n'
enddoc = r'\end{document}'
styles = []
with open(tex_store, "w") as text_file:
    text_file.write(header)
    print('Stats for: Complete benchmark')
    etab = eed.get_totalerror_table()
    styles.append(etab.style)
    text_file.write(begtab+r'\caption{Data set: Complete benchmark}'+'\n'+etab.to_latex(escape=False)+endtab)

    # Convert the dataframe to an XlsxWriter Excel object.
    etab.to_excel(writer, sheet_name="Complete Benchmark")

    paetab = eed.get_totalerrorperatom_table()
    text_file.write(begtab+r'\caption{Data set: Complete benchmark per atom}'+'\n'+paetab.to_latex(escape=False)+endtab)
    paetab.to_excel(writer, sheet_name="Complete Benchmark per atom")
    
    
    for k in tsname:
        print('Stats for:',k)
        etab = eed.get_error_table(k)
        etab.to_excel(writer, sheet_name=k)
        styles.append(etab.style)
        text_file.write(begtab+r'\caption{Data set: '+k+r'}'+'\n'+etab.to_latex(escape=False)+endtab)
    text_file.write(enddoc)
styles[0]

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
cmap = mpl.cm.nipy_spectral
for i in range(1,16):
    print('Models:',str(i+1).zfill(2))
    eed.determine_min_error_by_sigma('ANI-1xTL'+str(i+1).zfill(2),
                                     0.5, 50.0,
                                     labelx=r'$\mathrm{\rho}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}}$]',
                                     labely=r'$\mathrm{\mathcal{E}}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}$]',
                                     xyrange=(0.0,2.0,0.0,12.0),
                                     figsize=(12.0, 9.0),
                                     cmap=cmap,
                                     tskeys=['GDB-10to13'],
                                     #storepath='/home/jsmith48/scratch/error_stats/rho_selection_6.0.0.pdf',
                                     )

In [ ]:
cmap = mpl.cm.nipy_spectral
eed.determine_min_error_by_sigma('ANI-1xTL_lr-5',
                                 0.5, 50.0,
                                 labelx=r'$\mathrm{\rho}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}}$]',
                                 labely=r'$\mathrm{\mathcal{E}}$ [$\mathrm{kcal \times mol^{-1} \times (\sqrt{N_a})^{-1}}$]',
                                 xyrange=(0.0,2.0,0.0,12.0),
                                 figsize=(12.0, 9.0),
                                 cmap=cmap,
                                 tskeys=['GDB-10to13'],
                                 #storepath='/home/jsmith48/scratch/error_stats/rho_selection_6.0.0.pdf',
                                 )

In [ ]:
print(eed.get_net_keys())
#print(eed.get_size("9.0.5","MDBenchmark"))
#print(eed.get_size("9.0.4","Tripeptide"))
#print(eed.get_size("9.0.4","GDB07to09"))
#print(eed.get_size("9.0.4","GDB10to13"))

In [ ]:
cmap = mpl.cm.nipy_spectral
Erms  = []
dErms = []
for i in range(1,17):
    print('Models:',str(i).zfill(2))
    Erms.append(eed.generate_rmserror('ANI-1xTL'+str(i).zfill(2),'GDB-10to13','Eani','Edft'))
    dErms.append(eed.generate_rmserror('ANI-1xTL'+str(i).zfill(2),'GDB-10to13','dEani','dEdft'))
    #eed.generate_correlation_plot('ANI-1xTL'+str(i+1).zfill(2),'GDB-10to13','Eani','Edft')
                                     

#eed.generate_correlation_plot('6.0.0','MDBenchmark','Fani','Fdft')
#cmap = mpl.cm.nipy_spectral
#eed.generate_correlation_plot('ANI-0707.0001.0410_bt5','GDB-11 (SFCl)','Fani','Fdft',cmap=cmap)
#eed.generate_correlation_plot('0707.0001.0402','GDB-07 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('0707.0001.0402','GDB-08 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('0707.0001.0402','GDB-09 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('0707.0001.0402','GDB-10 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('0707.0001.0402','GDB-11 (SFCl)','dEani','dEdft')
#eed.generate_correlation_plot('AL6','DrugBank','Fani','Fdft')
#eed.generate_correlation_plot('ARC1','MDBenchmark','Fani','Fdft')
#eed.generate_correlation_plot('ARC8','MDBenchmark','Fani','Fdft')

In [ ]:
import numpy as np
from matplotlib import gridspec 

fig = plt.subplots(figsize=[15,6])
gs  = gridspec.GridSpec(1, 2, width_ratios=[0.5, 0.5])

ax1 = plt.subplot(gs[0])
ax2 = plt.subplot(gs[1])

ax1.plot(np.arange(1,17),Erms,marker='o')
ax1.set_title(r'E improvment with ensemble size')
ax1.set_xlabel('Number of members')
ax1.set_ylabel('RMSE error (kcal/mol)')

ax2.plot(np.arange(1,17),dErms,marker='o')
ax2.set_title(r'$\Delta$E improvment with ensemble size')
ax2.set_xlabel('Number of members')
ax2.set_ylabel('RMSE error (kcal/mol)')

plt.show()

In [ ]:
#eed.plot_bar_propsbynet([('Total Energy',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft',[0.0,23.0]),
#                         ('Relative Energy',r'RMSE ($kcal \times mol^{-1}$)','dEani', 'dEdft',[0.0,12.0]),
#                         ('Force',r'RMSE ($kcal \times mol^{-1} \times \AA^{-1}$)','Fani', 'Fdft',[0.0,10.0])], 
#                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 's66x8'],
#                         ntwks=['6.0.0','7.0.4','8.0.6','8.3.6','9.0.4','ANI-1'],
#                         fontsize=30, bbox_to_anchor=(0.3, 1.0), figsize=(40.0, 32.0), ncol=2, errortype='RMSE')

In [ ]:
eed.plot_error_by_net([(r'$E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB-07 (SFCl)', 'GDB-08 (SFCl)', 'GDB-09 (SFCl)', 'GDB-10 (SFCl)', 'GDB-11 (SFCl)'],
                         ntwks=['0808.0302.0402'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='RMSE',
                        #storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_RMSE.pdf',
                      )

In [ ]:
eed.plot_error_by_net([(r'$E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['AL1', 'AL2', 'AL3', 'AL4', 'AL5', 'AL6', 'ANI-1'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='RMSE',
                        #storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_RMSE.pdf')

In [ ]:
eed.plot_error_by_net([(r'$E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['AL1', 'AL2', 'AL3', 'AL4', 'AL5', 'AL6', 'ANI-1'],
                         fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(30.0, 15.0), ncol=1, errortype='MAE',
                        #storepath='/home/jujuman/Dropbox/ANAKIN-ME-RESEARCH/PUBLICATION-ActiveLearning/Figures/figure_TSALvsANI_MAE.pdf')
#eed.generate_violin_distribution('GDB10to13')

In [ ]:
'''
eed.plot_error_by_net([(r'$E_T (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Eani','Edft'),
                       (r'$\Delta E (kcal \times mol^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','dEani','dEdft'),
                       (r'$F (kcal \times mol^{-1}\AA^{-1})$',r'RMSE ($kcal \times mol^{-1}$)','Fani','Fdft'),], 
                         ['GDB07to09', 'GDB10to13', 'DrugBank', 'Tripeptide', 'MDBenchmark', 's66x8'],
                         ntwks=['ARC1','ARC2','ARC3','ARC4','ARC5','ARC6','ARC7','ARC8'],
                        fontsize=20, bbox_to_anchor=(1.0, 1.0), figsize=(20.0, 30.0), ncol=1, errortype='RMSE',
                        storepath='/home/jujuman/Research/DataReductionMethods/train_test/tables/figure_TSALvsANI_RMSE.pdf')
'''

In [ ]:
Edft1 = eed.get_range_stats(tslist=['GDB-10to13'],dkey='Edft')
plt.hist(Edft1,bins=20, log=True, edgecolor='black')
plt.show()

In [ ]:
Edft1 = eed.get_range_stats(tslist=['GDB-10to13'],dkey='Na')
plt.hist(Edft1,bins=18, log=True, edgecolor='black')
plt.show()

In [ ]:
Edft2 = eed.get_range_stats(tslist=['r10_ccsd'],dkey='Edft')
plt.hist(Edft2,bins=16,color='r', log=True, edgecolor='black')
plt.show()

In [ ]:
Edft2 = eed.get_range_stats(tslist=['r10_ccsd'],dkey='Na')
plt.hist(Edft2,bins=16, log=True,color='r', edgecolor='black')
plt.show()