In [1]:
# pyneurochem
import pyNeuroChem as pync
import pyaniasetools as aat
import pyanitools as pyt

import hdnntools as hdt

import numpy as np

import matplotlib.pyplot as plt

import os

import pandas as pd

#import seaborn as sns
pd.options.display.float_format = '{:.2f}'.format

In [2]:
fdir = '/home/jujuman/Research/extensibility_test_sets/s66x8/xyzfiles/'
hfil = '/home/jujuman/Research/extensibility_test_sets/s66x8/s66x8_wb97x6-31gd.h5'
ndir = '/home/jujuman/Research/extensibility_test_sets/s66x8/structures/'

tex_store = "/home/jujuman/Dropbox/ChemSciencePaper.AER/PUBLICATION-ActiveLearning/tables/s66x8_ANI-9.0.4vsDFT_results.tex"

names = {'01':'water$\cdots$water',
         '02':'water$\cdots$MeOH',
         '03':'water$\cdots$MeNH$\mathrm{_2}$',
         '04':'water$\cdots$peptide',
         '05':'MeOH$\cdots$water',
         '06':'MeOH$\cdots$MeOH',
         '07':'MeOH$\cdots$MeNH$\mathrm{_2}$',
         '08':'MeOH$\cdots$peptide',
         '09':'MeNH$\mathrm{_2}$$\cdots$water',
         '10':'MeNH$\mathrm{_2}$$\cdots$MeOH',
         '11':'MeNH$\mathrm{_2}$$\cdots$MeNH$\mathrm{_2}$',
         '12':'MeNH$\mathrm{_2}$$\cdots$peptide',
         '13':'peptide$\cdots$water',
         '14':'peptide$\cdots$MeOH',
         '15':'peptide$\cdots$$\cdots$MeNH$\mathrm{_2}$',
         '16':'peptide$\cdots$peptide',
         '17':'uracil$\cdots$uracil (BP)',
         '18':'water$\cdots$pyridine',
         '19':'MeOH$\cdots$pyridine',
         '20':'AcOH$\cdots$AcOH',
         '21':'AcNH$\mathrm{_2}$$\cdots$AcNH$\mathrm{_2}$',
         '22':'AcOH$\cdots$uracil',
         '23':'AcNH$\mathrm{_2}$$\cdots$uracil',
         '24':'benzene$\cdots$benzene ($\pi-\pi$)',
         '25':'pyridine$\cdots$pyridine ($\pi-\pi$)',
         '26':'uracil$\cdots$uracil ($\pi-\pi$)',
         '27':'benzene$\cdots$pyridine ($\pi-\pi$)',
         '28':'benzene$\cdots$uracil ($\pi-\pi$)',
         '29':'pyridine$\cdots$ethene ($\pi-\pi$)',
         '30':'benzene$\cdots$ethene',
         '31':'uracil$\cdots$ethene',
         '32':'uracil$\cdots$ethyne',
         '33':'pyridine$\cdots$ethene',
         '34':'pentane$\cdots$pentane',
         '35':'neopentane$\cdots$pentane',
         '36':'neopentane$\cdots$neopentane',
         '37':'cyclopentane$\cdots$neopentane',
         '38':'cyclopentane$\cdots$cyclopentane',
         '39':'benzene$\cdots$cyclopentane',
         '40':'benzene$\cdots$neopentane',
         '41':'uracil$\cdots$pentane',
         '42':'uracil$\cdots$cyclopentane',
         '43':'uracil$\cdots$neopentane',
         '44':'ethene$\cdots$pentane',
         '45':'ethyne$\cdots$pentane',
         '46':'peptide$\cdots$pentane',
         '47':'benzene$\cdots$benzene (TS)',
         '48':'pyridine$\cdots$pyridine (TS)',
         '49':'benzene$\cdots$pyridine (TS)',
         '50':'benzene$\cdots$ethyne (CH-$\pi$)',
         '51':'ethyne$\cdots$ethyne (TS)',
         '52':'benzene$\cdots$AcOH (OH-$\pi$)',
         '53':'benzene$\cdots$AcNH$_{\mathrm{2}}$ (NH-$\pi$)',
         '54':'benzene$\cdots$water (OH-$\pi$)',
         '55':'benzene$\cdots$MeOH (OH-$\pi$)',
         '56':'benzene$\cdots$MeNH$_{\mathrm{2}}$ (NH-$\pi$)',
         '57':'benzene$\cdots$peptide (NH-$\pi$)',
         '58':'pyridine$\cdots$pyridine',
         '59':'ethyne$\cdots$water (CH-O)',
         '60':'ethyne$\cdots$AcOH (OH-$\pi$)',
         '61':'pentane$\cdots$AcOH',
         '62':'pentane$\cdots$AcNH$_{\mathrm{2}}$',
         '63':'benzene$\cdots$AcOH',
         '64':'peptide$\cdots$ethyne',
         '65':'pyridine$\cdots$ethyne',
         '66':'MeNH$_{\mathrm{2}}$$\cdots$pyridine',
        }

In [3]:
#wkdir1 = '/home/jujuman/Research/DataReductionMethods/model6r/model-gdb_r06_comb09_1/cv4/'
#wkdir2 = '/home/jujuman/Research/DataReductionMethods/model6r/model-gdb01-06_red03-08/cv3/'
wkdir1 = '/home/jujuman/Research/DataReductionMethods/model6r/model-gdb_r06_comb09_1/cv4/'
cnstfile = 'rHCNO-4.6A_16-3.1A_a4-8.params'
saefile  = 'sae_6-31gd.dat'
nnfdir   = '/train'
Nn = 5

anialcv = aat.anicrossvalidationconformer(wkdir1+cnstfile,wkdir1+saefile,wkdir1+nnfdir,Nn,0,False)
#dpack = pyt.datapacker(hfil)

In [4]:
files = os.listdir(fdir)
files = [f for f in files if f.rsplit('.',1)[1]=='dat']
files.sort()

#nfiles = os.listdir(ndir)
#nfiles = [f for f in nfiles if f.rsplit('.',1)[1]=='xyz']

#names = dict()
#for f in nfiles:
    #print(f.split('_')[1][0:2],f.split('_')[1][2:][:-7],f.split('_')[1][2:][-7:-4])
#    names[f.split('_')[1][0:2]] = f.split('_')[1][2:][:-7]
    
splits = [(22,'Hydrogen bonding'),
          (32,'$\pi$ stacking'),
          (45,'London dispersion complexes'),
          (65,'Mixed influence complexes')]

In [5]:
col_names = ['$\Delta$E$_{MAE}$',
             '$\Delta$E$_{RMS}$',
             '$\Delta$E$_{range}$',
             'F$_{MAE}$',
             'F$_{RMS}$',
             'F$_{range}$',]

In [6]:
Eanit = []
Edftt = [] 

dEanit = []
dEdftt = [] 

Fanit = []
Fdftt = [] 

tables = []
dframe = []
stats = dict()
get_batch_name = True
idx_batch_name = 0
for i,f in enumerate(files):
    if get_batch_name:
        batch_name = splits[idx_batch_name]
        get_batch_name = False
    
    data = hdt.readncdatall(fdir+f)
    
    Edft = data['energies']*hdt.hatokcal
    Fdft = data['forces'].flatten()*hdt.hatokcal/(0.529177*0.529177)

    data['energies']=Edft
    data['forces']=Fdft
        
    E,F = anialcv.compute_energy_conformations(X=data['coordinates'],S=data['species'])
    Eani = np.mean(E,axis=0)
    Fani = -np.mean(F,axis=0).flatten()

    dEani = hdt.calculatedmat(Eani)
    dEdft = hdt.calculatedmat(Edft)
    
    ID = str(int(f.split('_')[1][:-4])+1).zfill(2) 
    name = names[ID]

    stats[ID+' '+name] = pd.Series({'ID'     : ID,
                             #'EMAE'   : hdt.calculatemeanabserror(Eani,Edft),
                             #'ERMS'   : hdt.calculaterootmeansqrerror(Eani,Edft),
                             #'ERNG'   : np.abs(Edft.max()-Edft.min()),
                             col_names[0] : hdt.calculatemeanabserror(dEani,dEdft),
                             col_names[1] : hdt.calculaterootmeansqrerror(dEani,dEdft),
                             col_names[2] : np.abs(dEdft.max()-dEdft.min()),
                             col_names[3] : hdt.calculatemeanabserror(Fani,Fdft),
                             col_names[4] : hdt.calculaterootmeansqrerror(Fani,Fdft),
                             col_names[5] : np.abs(Fdft.max()-Fdft.min()),
                             })
    
    Eanit.append(Eani)
    Edftt.append(Edft)
    dEanit.append(dEani)
    dEdftt.append(dEdft)
    Fanit.append(Fani)
    Fdftt.append(Fdft)
    
    if i==splits[idx_batch_name][0]:
        
        Eanit = np.concatenate(Eanit)
        Edftt = np.concatenate(Edftt)
        dEanit = np.concatenate(dEanit)
        dEdftt = np.concatenate(dEdftt)
        Fanit = np.concatenate(Fanit)
        Fdftt = np.concatenate(Fdftt)
        
        stats['Total'] = pd.Series({'ID'     : ID,
                                    #'EMAE'   : hdt.calculatemeanabserror(Eanit,Edftt),
                                    #'ERMS'   : hdt.calculaterootmeansqrerror(Eanit,Edftt),
                                    #'ERNG'   : 'N/A',
                                    col_names[0] : hdt.calculatemeanabserror(dEanit,dEdftt),
                                    col_names[1] : hdt.calculaterootmeansqrerror(dEanit,dEdftt),
                                    col_names[2] : np.abs(dEdftt.max()-dEdftt.min()),
                                    col_names[3] : hdt.calculatemeanabserror(Fanit,Fdftt),
                                    col_names[4] : hdt.calculaterootmeansqrerror(Fanit,Fdftt),
                                    col_names[5] : np.abs(Fdftt.max()-Fdftt.min()),
                                    })
        Eanit = []
        Edftt = [] 
        dEanit = []
        dEdftt = [] 
        Fanit = []
        Fdftt = []
        
        edat = pd.DataFrame(stats).transpose()
        #pd.set_option('precision',3)
        pd.set_option('display.max_rows', 66)
        pd.set_option('expand_frame_repr', False)
        edat = edat[['ID',
                     col_names[0],
                     col_names[1],
                     col_names[2],
                     col_names[3],
                     col_names[4],
                     col_names[5]]].sort_values(['ID'])
        
        print(splits[idx_batch_name][1])

        dframe.append((edat[[col_names[0],
                             col_names[1],
                             col_names[2],
                             col_names[3],
                             col_names[4],
                             col_names[5],
                             ]], splits[idx_batch_name][1]))

        tables.append((edat[[col_names[0],
                             col_names[1],
                             col_names[2],
                             col_names[3],
                             col_names[4],
                             col_names[5],
                             ]].style, splits[idx_batch_name][1]))
        stats = dict()
        idx_batch_name += 1
        get_batch_name = True
    #plt.plot(Eanial-Eanial.min(),c='r')
    #plt.plot(Eani1-Eani1.min(),c='g')
    #plt.plot(Edft-Edft.min(),c='b')
    #plt.title('Dissociation '+ str(i+1).zfill(2))

    #plt.show()

Hydrogen bonding
$\pi$ stacking
London dispersion complexes
Mixed influence complexes

In [7]:
# Build latex document
header = r'\documentclass{article}'+'\n'+r'\usepackage{booktabs}'+'\n'+r'\usepackage[margin=1.0in]{geometry}'+'\n'+r'\begin{document}'+'\n'

begtab = r'\begin{table}'+'\n'+r'\centering'+'\n'
endtab = r'\end{table}'+'\n'
enddoc = r'\end{document}'
with open(tex_store, "w") as text_file:
    text_file.write(header)
    for tup in dframe:
        text_file.write(begtab+r'\caption{'+tup[1]+r'}'+'\n'+tup[0].to_latex(escape=False)+endtab)
    text_file.write(enddoc)

In [8]:
tables[0][0]

In [9]:
tables[1][0]

In [10]:
print(tables[2][1])
tables[2][0]

London dispersion complexes

In [11]:
tables[3][0]